# Default values for wso2am.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
productName: wso2is-km
productVersion: 5.7.0
wso2Home: /home/wso2carbon

rollingUpdate:
  maxSurge: 1
  maxUnavailable: 0
progressDeadlineSeconds: 600
image:
  repositoryPath: mojaloop
  tag: DEPLOYMENT_VALUE
  pullPolicy: Always
  dockerImageName: wso2iskm
service:
  type: NodePort
  ports:
    wso2:
      name: wso2
      enabled: true
      externalPort: 9443
      internalPort: 31443
      targetPort: 9443
  sessionAffinity: 
    enabled: false
    affinityType: ClientIP
  external:
    enabled: true
  annotations: {}

rbac:
  serviceAccount: wso2svc-account
  enabled: false

config:
  pullSecret: dock-repo-secret
# dependentServices:
#   external-db:
#     name: dnsname for db here
#     pauseTime: 15  
persistentVolume:
  pvEnabled: false
  pvcEnabled: true
  basePath: /glusterfs
  purpose: wso2-is-km-shared-artifacts
  mountToSubPath: repository/deployment/server
  capacity: 
    storage: 5Gi
  fsowner:
    userid: "802"
    groupid: "802" 
  storageClass: gluster
  accessMode: ReadWriteMany
  pcvLabelSelectorModeEnabled: false
  subPathEnabled: false

readinessProbe:
  enabled: true
  initialDelaySeconds: 300
  periodSeconds: 15
  failureThreshold: 5

livenessProbe:
  enabled: true
  initialDelaySeconds: 360
  periodSeconds: 15
  failureThreshold: 5

copyExtHostToEtcHosts:
  enabled: false
  extHostName: wso2exthostname

ingress:
  enabled: false
secret:
  externalSecretVolMountEnabled: false
  wso2amSecretVolPath: /home/wso2carbon/wso2-secret-volume
  externalSecretName: wso2iskm-secret
configmap:
  externalConfigMapVolMountEnabled: false
  wso2amConfigVolPath: /home/wso2carbon/wso2-config-volume
  externalConfigMapName: wso2iskm-confmap
binconfigmap:
  externalConfigMapVolMountEnabled: false
  externalConfigMapName: wso2iskm-binmap
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   memory: 3Gi
  #   cpu: 3000m
  # requests:
  #   memory: 2Gi
  #   cpu: 2000m

nodeSelector: {}

tolerations: []

affinity: {}

dependencyConfigProps:
  API_GW_HOST:
    name: "API_GW_HOST"
    propValue: "extgw.public.FQDN"
    releasePrefixValue: false
  API_STORE_HOST:
    name: "API_STORE_HOST"
    propValue: "extgw.public.FQDN"
    releasePrefixValue: false
  API_PUB_HOST:
    name: "API_PUB_HOST"
    propValue: "extgw.public.FQDN"
    releasePrefixValue: false
  WSO2_DB_HOST:
    name: "WSO2_DB_HOST"
    propValue: "mysql-wso2.mysql-wso2.svc.cluster.local"
    releasePrefixValue: false
  WSO2_DB_PORT:
    name: "WSO2_DB_PORT"
    propValue: 3306
    releasePrefixValue: false
  WSO2_DB_USER:
    name: "WSO2_DB_USER"
    propValue: "root"
    releasePrefixValue: false
  WSO2_DB_PW:
    name: "WSO2_DB_PW"
    propValue: "123soleil"
    releasePrefixValue: false
  ISKM_HOST:
    name: "ISKM_HOST"
    propValue: "iskm.public.FQDN"
    releasePrefixValue: false
  KEYSTORE_PASSWORD:
    name: "KEYSTORE_PASSWORD"
    propValue: "wso2carbon"
    releasePrefixValue: false