# Default values for wso2am.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
productName: wso2am
productVersion: 2.5.0
wso2Home: /home/wso2carbon

rollingUpdate:
  maxSurge: 1
  maxUnavailable: 0
progressDeadlineSeconds: 600
image:
  repositoryPath: mojaloop
  tag: DEPLOYMENT_VALUE
  pullPolicy: Always
  dockerImageName: wso2apim
service:
  type: NodePort
  ports:
    wso2:
      enabled: true
      name: wso2
      externalPort: 9443
      internalPort: 32443
      targetPort: 9443
    wso2https:
      enabled: true
      name: wso2https
      externalPort: 8243
      internalPort: 32243
      targetPort: 8243
  sessionAffinity: 
    enabled: false
    affinityType: ClientIP
  external:
    enabled: true
  annotations: {}

rbac:
  serviceAccount: wso2svc-account
  enabled: false

config:
  pullSecret: dock-repo-secret
# dependentServices:
#   wso2-is-km:
#     name: wso2-is-km
#     pauseTime: 15  
persistentVolume:
  pvEnabled: false
  pvcEnabled: true
  basePath: /glusterfs
  purpose: wso2apim-gateway-shared-artifacts
  mountToSubPath: repository/deployment/server
  capacity: 
    storage: 5Gi
  fsowner:
    userid: "802"
    groupid: "802"
  storageClass: gluster
  accessMode: ReadWriteMany
  pcvLabelSelectorModeEnabled: false
  subPathEnabled: false
  
readinessProbe:
  enabled: true
  initialDelaySeconds: 300
  periodSeconds: 15
  failureThreshold: 5

livenessProbe:
  enabled: true
  initialDelaySeconds: 360
  periodSeconds: 15
  failureThreshold: 5


copyExtHostToEtcHosts:
  enabled: false
  extHostName: wso2exthostname

ingress:
  enabled: false

secret:
  externalSecretVolMountEnabled: false
  wso2amSecretVolPath: /home/wso2carbon/wso2-secret-volume
  externalSecretName: wso2am-secret
configmap:
  externalConfigMapVolMountEnabled: false
  wso2amConfigVolPath: /home/wso2carbon/wso2-config-volume
  externalConfigMapName: wso2am-confmap
binconfigmap:
  externalConfigMapVolMountEnabled: false
  externalConfigMapName: wso2am-binmap

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   memory: 3Gi
  #   cpu: 3000m
  # requests:
  #   memory: 2Gi
  #   cpu: 2000m

nodeSelector: {}

tolerations: []

affinity: {}
